#conference-widget{
    width:750px;
}

#ka-main-header {
    display: block;
}

#ka-main-header th {
    text-align: center;
}

tr.ka-date-header {
    background-color: black;
    color: white;
}

tr.ka-event-header {
    background-color: #606060;
    color: white;
}

thead.ka-event-row-header {
    background-color: #D3D3D3;
    color: black;
}

tr.ka-event-row {
    background-color: white;
    color: black;
}

.fixed-size-table tbody{
    /* display: block; */
    width: 100%;
}

.fixed-size-table th, .fixed-size-table td {
    width: 200px;
    font-size: small;
    /* height: 12px; */
}

.ka-outer-table-body {
    display:block;
    width: 100%;
    overflow: auto;
    height: 400px;
}

.ka-inner-thead th {
    text-align: left;
    font-size: x-small;
}

.table > tbody > tr > td{
    padding: 0px;
}

.accordion-body, a[aria-expanded="true"]{
    /* padding-left: 25px; */
    background-color: lightgrey;
}

a[aria-expanded="true"]{
    background-color: #42DCA3;
}

#ka-medal-toolbar{
    margin-bottom: 5px;
}

.dropdown-menu {
    width:max-content;
}

.ka-checkbox-li {
    margin-left: 5px;
    padding-left: 2px;
}

.ka-checkbox, .ka-menu-span {
    margin-right: 4px;
}

.custom-control-label {
    margin-left: 5px;
    margin-right: 15px;
}

.all-selector {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}